body {
    color: $fontColor;
    bg: #666;
    @include fs(20px);
    .header {
        wd: 10px;
        ht: 10px;
        bg: $fontColor;
        &:hov {
            bg: $bgColor;
        }
    }
}